@font-face { 
  font-family:UN-Abhaya; src:url(fonts/UN-Abhaya.ttf);
  font-weight: normal; 
}

@font-face { 
  font-family:UN-Abhaya-Bold; src:url(fonts/UN-Abhaya-Bold.ttf);
  font-weight: bold; 
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  font-family: UN-Abhaya;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.9;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------------------------------------------------------------------------------------------- */
body{  
  background-color: #f2f2f2 !important;
}

h1{
  color: #8a736c !important;
  font-size: 2.2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-family:UN-Abhaya-Bold;
}

h2{
  color:#a5702a;
  font-size: 2rem;
  font-family:UN-Abhaya-Bold;
}

h3{
  color:#7a7a7a;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 3rem;
  font-family:UN-Abhaya-Bold;  
}

h4{
  font-family:UN-Abhaya-Bold;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 3rem;
  color: #7d7275 !important;
}

p{
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 5rem;
  color: #747474 !important;
}

ul {
  margin-left: 0;
  list-style-type: none;
}

ul.menu {
  margin-left: 2em;
  text-align: left;
}

li{
  font-size: 1.6rem;
  font-family:UN-Abhaya-Bold;
  padding: 0;
}

a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.header{
  display: none;
  position: fixed;
  top: 3%;
  left: 2%;
  width: 40px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0) !important;
  display: block;
  text-align: center;
}

.menu-icon{
  display: none;
  width:35px;
  height: 35px;
  padding-top: 3px;
  text-align: center;
  background-color: rgb(172, 166, 147, 0.7);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}

.menu-icon span{
  color: #f2f2f2;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.menu-icon span:hover{
  color: #7d7275;
  text-decoration: none;
}

.col-md-3{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  background-color: #f3f2f1 !important;
  border-right: 1px solid;
  border-color: #e3d8d4;
  transition: 0.3s;
  overflow-x: hidden;
  text-align: center;
  padding-top: 10em;
}

.col-md-9{
  top: 0;
  left: 0;
  min-width: 100vw;
  padding-top: 5rem;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  transition: 0.3s;
}

.copynote{
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: center;  
  padding-top: 5px;
  color: #9f9da3 !important;
}

.topnavLinks{
  display: none;
  text-align: right;
}

.topnavLinks a{
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 22px;
  color: #aca693;
  border: 1px solid #aca693;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-right: 9px;
  margin-left: 3px;
  text-decoration: none;
}

.topnavLinks a:active{
  color: #aca693;
  text-decoration: none;
}

.topnavLinks a:visited{
  color: #aca693;
  text-decoration: none;
}

.topnavLinks a:hover{
  color: #ffffff !important;
  background-color: #a1897a;
  text-decoration: none;
}

.bottomnavLinks{
  padding-bottom: 1em;
  text-align: center;
  border-bottom: 1px solid #e3d8d4;
  margin-bottom: 1em;
  display: none;
}

.bottomnavLinks a{
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 22px;
  color: #aca693;
  border: 1px solid #aca693;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: 3px;
  text-decoration: none;
}

.bottomnavLinks a:active{
  color: #aca693;
  text-decoration: none;
}

.bottomnavLinks a:visited{
  color: #aca693;
  text-decoration: none;
}

.bottomnavLinks a:hover{
  color: #ffffff !important; 
  background-color: #a1897a;
  text-decoration: none;
}

.menu{
  padding-bottom: 10px;
}

.menu a span{
  color:#6e6a5c;
  text-decoration: none;
}

.sub-menu a span{
  color:#a5702a;
  text-decoration: none;
}

.menu-item-type-post_type a span {
  color:#80777a;/*  3b3734*/
  text-decoration: none;
}

.menu-item-type-post_type a span:hover {
  color: #dd8c22;
  text-decoration: none;
}

.menu-item-34, .menu-item-38, .menu-item-39, .menu-item-40, .menu-item-41{
  cursor: pointer;
}

.menu-item-34  ul li, .menu-item-38  ul li, .menu-item-39  ul li, .menu-item-40  ul li, .menu-item-41 ul li{
  cursor: pointer;
}

.arrow{
  color:#b8926b !important;
}

.fusion-text-2 p a{
  color:#635f52;
  text-decoration: none;
}

.fusion-text-2 p a:hover{
  color:#db891e;
  text-decoration: none;
}